# **Quarta Lista de Exercícios (Tuplas, Set, Booleans e Arquivos)**

---
## **Exercícios sobre Tuplas**

### **QUESTÃO 01 --** Criação e Acesso a Tuplas
- Crie uma tupla chamada frutas contendo 5 nomes de frutas.
- Exiba o terceiro elemento da tupla.
- Tente modificar o segundo elemento e comente em seu código o que ocorreu e por quê.

In [1]:
# Criar uma tupla
frutas = ("maçã", "banana", "laranja", "uva", "abacaxi")
print(frutas[3])

uva

In [2]:
# Modificar o segundo elemento, mas aparecerá um erro
frutas[2] = "melancia"

TypeError: 'tuple' object does not support item assignment

**Explicação:** Mensagem de erro, o objeto 'tuple' não suporta atribuição de itens, pois tuplas são imutáveis, ou seja, seus elementos não podem ser alterados após a criação. O código tenta modificar o elemento no índice 2 da tupla frutas, o que não é permitido.

In [ ]:
# A solução para a tupla imultavél
frutas = list(frutas)
frutas[2] = "melancia"
frutas = tuple(frutas)
print(frutas)

('maçã', 'banana', 'melancia', 'uva', 'abacaxi')

### **QUESTÃO 02 --** Fatiamento (Slicing) de Tuplas
- Crie uma tupla chamada numeros com os números de 1 a 10.
- Utilize slicing para extrair e exibir os elementos da posição 4 à 8 (lembre-se que o fatiamento não inclui o índice final).

In [ ]:
# Criação de uma tupla
num = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# Utilizando slicing para extrair e exibir
print(num[4:9])

(5, 6, 7, 8)

### **QUESTÃO 03 --** Concatenação e Repetição
-	Crie duas tuplas: t1 = (1, 2, 3) e t2 = (4, 5).
-	Concatene as tuplas e armazene o resultado em uma nova tupla chamada t3.
-	Exiba t3 repetida 3 vezes (use o operador *).

In [ ]:
# Criar duas tuplas
t1 = (1,2,3)
t2 = (4,5)

# Concatenar as duas tuplas e armazenar na nova tupla
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5)

In [ ]:
# Exibir t3 repetida 3 vezes
print(t3 * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

---
## **Exercícios sobre Conjuntos e Booleanos**

### **QUESTÃO 01 --**	Operações com Conjuntos
-	Crie dois conjuntos:
-	A = {1, 2, 3, 4}
-	B = {3, 4, 5, 6}
-	Calcule e exiba:
-	A união de A e B.
-	A interseção de A e B.
-	A diferença entre A e B (A - B) e entre B e A (B - A).
-	A diferença simétrica entre A e B.

In [ ]:
# Criar dois conjuntos
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Calcular a união de A e B
print(A.union(B))

# Calcular a interseção de A e B
print(A.intersection(B))

# Calcular a diferença entre A e B
print(A.difference(B))
print(B.difference(A))

# Calcular a diferença simétrica entre A e B
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 5, 6}

### **QUESTÃO 02 --** Verificação de Subconjuntos
-	Utilizando os conjuntos A e B criados anteriormente, verifique e exiba se:
-	A é subconjunto de B.
-	B é subconjunto de A.
-	Os conjuntos são disjuntos (ou seja, não possuem elementos em comum).

In [ ]:
# Verificar se A é subconjunto de B
print(A.issubset(B))

# Verificar se B é subconjunto de A
print(B.issubset(A))

# Verificar se os conjuntos são disjuntos
print(A.isdisjoint(B))

False
False
False

### **QUESTÃO 03 --** Expressões Booleanas
-	Crie e avalie as seguintes expressões booleanas, imprimindo seus resultados:
-	True and False
-	not (False or True)
-	(3 > 2) and (5 == 5)
-	Comente o que cada expressão significa e por que o resultado foi aquele obtido.

In [ ]:
a = True and False
a

False

**Explicação da primeira expressão -- True and False:** Nessa expressão foi "False", pois uma das proposição é "True" e só será verdadeira se todas as proposiçôes forem verdadeiras.

In [ ]:
b = not (False or True)
print(b)

False

**Explicação da segunda expressão -- not (False or True):** Com base na tabela verdade, será verdadeira quando, pelo menos, uma das condições fossem verdadeira, mas nessa expressão temos um "not", que significa que será falso se a proposição for verdadeira e vice-versa.

In [ ]:
c = (3 > 2) and (5 == 5)
print(c)

True

**Explicação da terceira expressão -- (3 > 2) and (5 == 5):** São duas condições, com base na tabela verdade, será verdadeira somente se todas as condições forem verdadeiras. Nessa expressão todas são verdadeiras e o resultado foi "True"; caso uma das duas condições for falso, o resultado seria "False".

### **QUESTÃO 04 --** Conversão de Lista para Conjunto
-	Crie uma lista com elementos repetidos, por exemplo, lista = [1, 2, 2, 3, 4, 4, 5].
-	Converta essa lista para um conjunto e exiba o conjunto resultante, observando como os elementos duplicados são removidos.

In [ ]:
# Criar uma lista repetidas
lista_repetidos = [1, 2, 2, 3, 4, 4, 5]

# Converter esse conjunto para que os elementos duplicados são removidos
conjunto = set(lista_repetidos)
print(conjunto)

{1, 2, 3, 4, 5}

---
## **Exercícios sobre Arquivos**

### **QUESTÃO 01 --** Escrita de Arquivos
- Crie (ou sobrescreva) um arquivo chamado exemplo.txt usando o comando magic %%writefile ou com o método open() em modo de escrita.
-	Escreva pelo menos 5 linhas de texto no arquivo, certificando-se de incluir o caractere de nova linha (\n) ao final de cada linha.

In [11]:
# Usando o comando %%writefile
%%writefile exemplo.txt
Aqui é um exemplo do arquivo exemplo.txt
Essa é a primeira linha
Essa é a segunda linha
Essa é a terceira linha
Essa é a quarta linha
Essa é a quinta linha

Overwriting exemplo.txt

### **QUESTÃO 02 --** Leitura de Arquivos
-	Abra o arquivo exemplo.txt e leia todas as linhas com o método readlines().
-	Imprima cada linha removendo o caractere de nova linha (use fatiamento ou o método strip()).

In [ ]:
# Abrindo e lendo as linhas do arquivo
with open('exemplo.txt', 'r') as myfile:
    linhas = myfile.readlines()

# Imprimindo cada linha removendo o caractere de nova linha
for linha in linhas:
    print(linha.strip())  # Usando .strip() para remover o '\n' ao final

### **QUESTÃO 03 --** Atualização Condicional do Arquivo
-	Escreva um script que verifique se exemplo.txt possui pelo menos 5 linhas.
-	Se não tiver, adicione novas linhas ao final do arquivo para que o total seja 5 (use o modo "append").

In [ ]:
# Verificando se o arquivo tem pelo menos 5 linhas
with open('exemplo.txt', 'r') as myfile:
    linhas = myfile.readlines()

# Verificando se o arquivo tem menos de 5 linhas
if len(linhas) < 5:
    with open('exemplo.txt', 'a') as myfile:  # Abrindo em modo append
        for i in range(5 - len(linhas)):  # Adicionando as linhas que faltam
            myfile.write(f"Essa é a linha {len(linhas) + i + 1}\n")

### **QUESTÃO 04 --** Retorno do Método write()
-	Utilize o método write() para adicionar uma nova linha ao arquivo e capture o valor retornado.
-	Em um comentário, explique o que esse valor representa (dica: quantidade de caracteres escritos).

In [6]:
# Adicionando uma nova linha ao arquivo
with open('exemplo.txt', 'a') as myfile:
    num_caracteres = myfile.write("Essa é uma nova linha adicionada.\n")

# Exibindo o número de caracteres escritos
print(f'Número de caracteres escritos: {num_caracteres}')

Número de caracteres escritos: 34

### **QUESTÃO 05 --** Uso da Estrutura with
-	Refaça os exercícios de escrita e leitura utilizando a instrução with open(...) as arquivo: para garantir que o arquivo seja fechado automaticamente após o uso.

In [8]:
# Questão 01 com with open(...) (Escrita):
# Usando a estrutura with open() para garantir que o arquivo seja fechado automaticamente
with open('exemplo.txt', 'w') as file:
    file.write("Aqui é um exemplo do arquivo exemplo.txt\n")
    file.write("Essa é a primeira linha\n")
    file.write("Essa é a segunda linha\n")
    file.write("Essa é a terceira linha\n")
    file.write("Essa é a quinta linha\n")

In [9]:
# Questão 02 com with open(...) (Leitura):
# Usando a estrutura with open() para leitura
with open('exemplo.txt', 'r') as myfile:
    linhas = myfile.readlines()

# Imprimindo cada linha removendo o caractere de nova linha
for linha in linhas:
    print(linha.strip())  # Usando .strip() para remover o '\n' ao final

Aqui é um exemplo do arquivo exemplo.txt
Essa é a primeira linha
Essa é a segunda linha
Essa é a terceira linha
Essa é a quinta linha

In [10]:
# Questão 03 com with open(...) (Atualização Condicional):
# Verificando e atualizando o arquivo para ter pelo menos 5 linhas
with open('exemplo.txt', 'r') as myfile:
    linhas = myfile.readlines()

if len(linhas) < 5:
    with open('exemplo.txt', 'a') as myfile:
        for i in range(5 - len(linhas)):
            myfile.write(f"Essa é a linha {len(linhas) + i + 1}\n")